body{

}
*{
    margin:0px;
    padding:0px;
}

#menu ul {
    list-style:none;
}

#menu ul li {
    background-color:rgb(237, 26, 35);
    border:none;
    width:100px;
    height:35px;
    text-align:center;
    line-height:35px;
    float:left;
    position:relative;
    border-radius:10px;
}

#menu ul li a{
    text-decoration:none;
    color:white;
    display:block;
}

#menu ul li a:hover{
    background-color:rgb(193, 7, 15);
    color:white;
    border-radius:10px;
}

#menu ul ul {
    position:absolute;
    display:none;
}

#menu ul li > ul li{
    background-color:rgb(193, 7, 15)
}
#menu ul li:hover > ul{
    display:block;
    border-radius:10px;
}

